<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/cambio_contraseña.css">
    <link rel="icon" href="../assets/EcoMarket1.png" type="image/x-icon">
    <title>EcoMarket Tulancingo</title>
</head>
<body>
<!-- Header que contiene el logo de EcoMarket -->
    <div class="header">
        <img src="../assets/EcoMarket1.png" alt="logo" class="logo">
    </div>

</body>
</html>
