<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/inicio_sesion.css">
    <link rel="icon" href="../assets/EcoMarket1.png" type="image/x-icon">
    <title>EcoMarket Tulancingo</title>
</head>
<body>
<!-- Header que contiene el logo de EcoMarket -->
    <div class="header">
        <img src="../assets/EcoMarket1.png" alt="logo" class="logo">
    </div>

<!-- Formulario de inicio de sesión -->
    <div class="login">
        <div class="profile-icon">
                <img src="../assets/icon_pe.png" alt="icono de perfil">
        </div>
            <form action="" method="POST">
                <p class="txt_inicio_sesion">Correo:</p>
                <input type="email" id="email" name="email" placeholder="Ingrese su correo electrónico" required>
                <p class="txt_inicio_sesion">Contraseña:</p>
                <input type="password" id="pass" name="pass" placeholder="Ingrese su contraseña" required>
                <button type="submit">Iniciar sesión</button>
                <div class="forgot-password">
                    <a href="recuperacion_contraseña.html">¿Olvidaste tu contraseña?</a>
                </div>
            </form>
    </div>
</body>
</html>
